footer.c-footer
	span.c-footer__label Contact Us
	h4.c-footer__contact contact@contact.com
	ul.c-footer__list
		li.c-footer__item
			a.c-footer__facebook(href='#') F
		li.c-footer__item
			a.c-footer__twitter(href='#') T
		li.c-footer__item
			a.c-footer__twitter(href='#') Y
