/**
 * @atom Input
 * @section Navigation > Inputs
 * @description
 *  Inputs del sitio.
 * @markup
 *	<input type="text" class="e-input-text" value="Un input text" />
 */

.app {
	height: 100%;
	background-color: white;
}
