.p-landing
	.c-landing
		.l-container.c-landing__main
			h1.c-landing__title Lorem Ipsum
			h2.c-landing__subtitle Neque porro quisquam est qui dolorem ipsum quia dolor
		.c-landing__image-container
			.l-container
				img.c-landing__image(src='/logo.png', width='350')
.l-container
	.c-description
		h2.c-description__title Lorem ipsum Lorem ipsum
		p.c-description__detail
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at porttitor turpis. Quisque facilisis vitae ipsum eu egestas. Quisque nec auctor metus. Nunc accumsan pulvinar orci, sed pharetra dolor semper id. Quisque vulputate, dui a viverra accumsan, urna arcu porttitor diam, ac fringilla erat neque eu urna. Sed rhoncus metus eget feugiat bibendum. Vivamus consectetur ut velit nec ullamcorper. Donec nec ipsum eu sapien facilisis fermentum et ac est. Integer eget egestas nulla, sit amet convallis mauris. Morbi mollis pellentesque aliquam. Nulla a fringilla diam. Donec ornare consectetur vehicula. Pellentesque mollis sapien a euismod rutrum. Fusce cursus quam mi.
