
<form role="form" novalidate="novalidate" name="registerForm" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Plantilla</h3>
    </div>
    <div class="panel-body">
      <div ng-if="mail.template_id==1" class="col-md-2">
        <div class="radio">
          <label>
            <input type="radio" name="rdTemplate" value="1" ng-model="mail.template_id" disabled="disabled"/>Plantilla 1<img src="/static/assets/plantilla1.png?v=1" height="140" class="bordered media-object"/>
          </label>
        </div>
      </div>
      <div ng-if="mail.template_id==2" class="col-md-2">
        <div class="radio">
          <label>
            <input type="radio" name="rdTemplate" value="2" ng-model="mail.template_id" disabled="disabled"/>Plantilla 2<img src="/static/assets/plantilla2.png?v=1" height="140" class="bordered media-object"/>
          </label>
        </div>
      </div>
      <div ng-if="mail.template_id==3" class="col-md-2">
        <div class="radio">
          <label>
            <input type="radio" name="rdTemplate" value="3" ng-model="mail.template_id" disabled="disabled"/>Plantilla 3<img src="/static/assets/plantilla3.png?v=1" height="140" class="bordered media-object"/>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Datos</h3>
    </div>
    <div class="panel-body">
      <div ng-class="{ 'has-error' : registerForm.name.$invalid &amp;&amp; !registerForm.name.$pristine , 'has-success': registerForm.name.$valid}" class="form-group">
        <label class="col-sm-3 control-label">Nombre:<span class="text-danger"> *</span></label>
        <div class="col-sm-4">
          <input type="text" required="required" maxlength="50" name="name" value="{{mail.name}}" ng-model="mail.name" class="form-control"/><small ng-show="registerForm.name.$invalid &amp;&amp; !registerForm.name.$pristine" class="help-block">Ingrese nombre.</small>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Fecha:</label>
        <div class="col-sm-4">
          <input type="text" disabled="disabled" ng-model="mail.date_created" value="{{mail.date_created}}" class="form-control"/>
        </div>
      </div>
    </div>
  </div>
  <div ng-if='template.id !== 3' class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">UTMs</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div ng-class="{ 'has-error' : registerForm.utm_source.$invalid &amp;&amp; !registerForm.utm_source.$pristine , 'has-success': registerForm.utm_source.$valid}" class="form-group">
          <label class="col-sm-5 control-label">utm_source:<span class="text-danger"> *</span></label>
          <div class="col-sm-7">
            <input type="text" name="utm_source" ng-value="mail.utm_source" required="required" ng-pattern="/^[0-9a-z_-]+$/" ng-model="mail.utm_source" class="form-control"/><small ng-show="registerForm.utm_source.$invalid &amp;&amp; !registerForm.utm_source.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
          </div>
        </div>
        <div ng-class="{ 'has-error' : registerForm.utm_medium.$invalid &amp;&amp; !registerForm.utm_medium.$pristine , 'has-success': registerForm.utm_medium.$valid}" class="form-group">
          <label class="col-sm-5 control-label">utm_medium:<span class="text-danger"> *</span></label>
          <div class="col-sm-7">
            <input type="text" name="utm_medium" ng-value="mail.utm_medium" required="required" ng-pattern="/^[0-9a-z_-]+$/" ng-model="mail.utm_medium" class="form-control"/><small ng-show="registerForm.utm_medium.$invalid &amp;&amp; !registerForm.utm_medium.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-class="{ 'has-error' : registerForm.utm_campaign.$invalid &amp;&amp; !registerForm.utm_campaign.$pristine , 'has-success': registerForm.utm_campaign.$valid}" class="form-group">
          <label class="col-sm-5 control-label">utm_campaign:<span class="text-danger"> *</span></label>
          <div class="col-sm-7">
            <input type="text" name="utm_campaign" required="required" ng-value="mail.utm_campaign" ng-pattern="/^[0-9a-z_-]+$/" ng-model="mail.utm_campaign" class="form-control"/><small ng-show="registerForm.utm_campaign.$invalid &amp;&amp; !registerForm.utm_campaign.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contenido HTM L</h3>
      </div>
      <div class="panel-body">
        <div ng-if="template.ads" class="form-group">
          <label class="col-sm-6 control-label">Elegir Avisos <span class="badge ml10">{{ template.ads.total }}</span></label>
          <div class="col-sm-3">
            <button type="button" ng-click="ElegirAviso(mail.id)" class="btn btn-primary btn-block">Elegir</button>
          </div>
        </div>
        <div ng-if="template.property_types !== 0" class="form-group">
          <label class="col-sm-6 control-label">Elegir Tipos de propiedades  <span class="badge ml10">{{ template.property_types.length }}</span></label>
          <div class="col-sm-3">
            <button type="button" ng-click="ElegirPropiedad(mail.id)" class="btn btn-primary btn-block">Elegir</button>
          </div>
        </div>
        <div ng-if="template.blog_posts !==0" class="form-group">
          <label class="col-sm-6 control-label">Elegir Nota del Blog <span class="badge ml10">1</span></label>
          <div class="col-sm-3">
            <button type="button" ng-click="ElegirNota(mail.id)" class="btn btn-primary btn-block">Elegir</button>
          </div>
        </div>
        <div ng-if="template.banners != 0" class="form-group">
          <label class="col-sm-6 control-label">Elegir Banner <span class="badge ml10">{{ template.banners.length }}</span></label>
          <div class="col-sm-3">
            <button type="button" ng-click="ElegirBanner(mail.id)" class="btn btn-primary btn-block">Elegir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-model="idTemplate" ng-show="mail.template_id === 1 || mail.template_id === 2 " class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Link</h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-5 control-label">Ver todas nuestras ofertas:</label>
          <div class="col-sm-7">
            <input type="text" ng-model="mail.link" class="form-control"/><small class="help-block">Ejemplo URL: http://www.google.com.pe</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="col-md-12 text-right">
    <div class="form-group">
      <button type="submit" ng-disabled="registerForm.$invalid" ng-click="updateMail(mail)" class="btn btn-primary">Actualizar</button>
    </div>
  </div>
</form>