
<form role="form" novalidate="novalidate" name="propertyForm">
  <div ng-repeat="property_type in formData.properties track by $index" ng-init="index==0" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Elige tu propiedad</h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <ng-form name="bannerFieldForm">
          <div class="form-group">
            <label class="col-sm-4 control-label">Seleccionar imagen:<span class="text-danger"> *</span></label>
            <div class="col-sm-8">
              <input type="file" ng-model="property_type.file" valid-file="valid-file" base-sixty-four-input="base-sixty-four-input" ng-required="property_type.uploadFile ===  false"/><small ng-show="property_type.type===1" class="help-block">Archivos PNG, JPG, GIF | Tamaño: 2MB | Medidas: {{medidas1}}</small><small ng-show="property_type.type===2" class="help-block">Archivos PNG, JPG, GIF | Tamaño: 2MB | Medidas: {{medidas2}}</small>
            </div>
          </div>
          <div ng-if="property_type.image_src" class="form-group">
            <label class="col-sm-4 control-label">Imagen guardada:</label>
            <div class="col-sm-8"><img ng-src="{{property_type.image_src}}" style="width:200px;"/>
            </div>
          </div>
          <div ng-class="{ 'has-error' : bannerFieldForm.url.$invalid &amp;&amp; !bannerFieldForm.url.$pristine , 'has-success': bannerFieldForm.url.$valid}" class="form-group">
            <label class="col-sm-4 control-label">URL:<span class="text-danger"> *</span></label>
            <div class="col-sm-7">
              <input type="url" name="url" required="required" ng-model="property_type.url" class="form-control"/><small class="help-block">Ejemplo URL: http://www.google.com.pe</small>
            </div>
          </div>
          <div ng-if="property_type.term===true" ng-class="{ 'has-error' : bannerFieldForm.utm_term.$invalid &amp;&amp; !bannerFieldForm.utm_term.$pristine , 'has-success': bannerFieldForm.utm_term.$valid}" class="form-group">
            <label class="col-sm-4 control-label">utm_term:<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
              <input type="text" name="utm_term" required="required" ng-pattern="/^[0-9a-z_-]+$/" ng-model="property_type.utm_term" ng-value="banner.utm_term" class="form-control"/><small ng-show="propertyForm.utm_term.$invalid &amp;&amp; !propertyForm.utm_term.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
            </div>
          </div>
          <div ng-class="{ 'has-error' : bannerFieldForm.utm_content.$invalid &amp;&amp; !bannerFieldForm.utm_content.$pristine , 'has-success': bannerFieldForm.utm_content.$valid}" class="form-group">
            <label class="col-sm-4 control-label">utm_content:<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
              <input type="text" name="utm_content" required="required" ng-pattern="/^[0-9a-z_-]+$/" ng-model="property_type.utm_content" ng-value="banner.utm_content" class="form-control"/><small ng-show="propertyForm.utm_content.$invalid &amp;&amp; !propertyForm.utm_content.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
            </div>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12 text-right">
      <div class="form-group">
        <button ng-if="image_src===''" type="submit" ng-disabled="propertyForm.$invalid" ng-click="sendProperty(formData)" class="btn btn-primary btn-lg">Registrar</button>
        <button ng-if="image_src=='update'" type="submit" ng-disabled="propertyForm.$invalid" ng-click="updateProperty(formData)" class="btn btn-primary btn-lg">Actualizar</button>
        <button type="button" ng-click="back()" class="btn btn-default btn-lg">Regresar</button>
      </div>
    </div>
  </div>
</form>