
<form role="form" novalidate="novalidate" name="notesForm">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nota del Blog</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Foto</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="note in notes">
            <td class="valign-middle">{{$index+1}}</td>
            <td class="valign-middle"><img ng-src="{{note.image}}" width="150" data-url="{{note.link}}"/></td>
            <td>
              <h4><a href="{{note.link}}" target="_blank">{{note.title}}</a></h4>
              <p>{{note.description}}</p>
            </td>
            <td class="valign-middle text-danger">{{note.dateModified.date}}</td>
            <td class="valign-middle text-center">
              <div class="custom-check">
                <label>
                  <input type="radio" name="rdNota" ng-model="note.selected" ng-click="getSelectedNote(note)" value="{{note.id}}" ng-checked="note.selected == true"/><span class="lbl"></span>
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12 text-right">
      <div class="form-group">
        <button type="button" ng-click="saveNote(note)" class="btn btn-primary btn-lg">Guardar</button>
        <button type="button" ng-click="back()" class="btn btn-default btn-lg">Cancelar</button>
      </div>
    </div>
  </div>
</form>