
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Avisos</h3>
	</div>
	<div class="panel-body">
		<div ng-show="template.ads" class="adss_box">
			<h3>Listado de Avisos ({{advertisments.length}} de {{template.ads.total}}):</h3>
			<div class="form-inline mt20">
				<div class="form-group">
					<label>Ingresar ID de aviso:</label>
					<input type="text" placeholder="ID Campaña Padre" ng-model="ads.id" class="form-control"/>
				</div>
				<button type="button" ng-click="getAds(ads.id)" ng-disabled="advertisments.length === template.ads.total" class="btn btn-primary">Agregar</button><br/><br/>
				<div  ng-show ="status"  class="alert alert-danger" role="alert"><strong>Vaya...</strong>Al parecer  ese id ya esta agregado</div>
			</div>
			<table ng-if="template.id!=3" ng-show="advertisments.length" class="table table-bordered mt30">
				<tr align="center" ng-repeat="ads in advertisments track by $index">
					<td class="col-md-2"><img src="{{ads.image_src}}" width="150"/></td>
					<td align="left" class="col-md-9">
						<h5><a href="{{ads.url}}">{{ads.titulo}}</a></h5>
						<s>{{ads.soles_price}}</s><strong class="text-danger ml10">{{ads.dolar_price}}</strong>
					</td>
					<td class="col-md-1" style="vertical-align: middle;">
						<button type="button" ng-click="removeads($index)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
				</tr>
			</table>


			<form    role="form" novalidate="novalidate" name="AdsForm">
				<div ng-repeat="ads in advertisments track by $index" class="panel panel-default">
					<div class="panel-body">
						<div class="form-horizontal">
							<ng-form name="adsFieldForm">
								<div  class="form-group" ng-class="{ 'has-error' : adsFieldForm.titulo.$invalid &amp;&amp; !adsFieldForm.titulo.$pristine , 'has-success': adsFieldForm.titulo.$valid}">
									<label class="col-sm-4 control-label">Titulo:*</label>
									<div class="col-sm-8" >
										<input type="url" name="url" required="required" ng-model="ads.titulo" class="form-control"/>
									</div>
								</div>
								<div  class="form-group" ng-class="{ 'has-error' : adsFieldForm.tag.$invalid &amp;&amp; !adsFieldForm.tag.$pristine , 'has-success': adsFieldForm.tag.$valid}">
									<label class="col-sm-4 control-label">Etiqueta:*</label>
									<div class="col-sm-8">
										<input type="url" name="url" required="required" ng-model="ads.tag" class="form-control"/>
									</div>
								</div>
								<div  class="form-group" ng-class="{ 'has-error' : adsFieldForm.disctrict.$invalid &amp;&amp; !adsFieldForm.disctrict.$pristine , 'has-success': adsFieldForm.disctrict.$valid}">
									<label class="col-sm-4 control-label">Distrito:*</label>
									<div class="col-sm-8">
										<input type="url" name="url" required="required" ng-model="ads.disctrict" class="form-control"/>
									</div>
								</div>
								<div  class="form-group" ng-class="{ 'has-error' : adsFieldForm.property_detail.$invalid &amp;&amp; !adsFieldForm.property_detail.$pristine , 'has-success': adsFieldForm.property_detail.$valid}">
									<label class="col-sm-4 control-label">Detalle de propiedad:*</label>
									<div class="col-sm-8">
										<input type="url" name="url" required="required" ng-model="ads.property_detail" class="form-control"/>
									</div>
								</div>
								<div  class="form-group">
									<label class="col-sm-4 control-label">Imagen  seleccionada:</label>
									<div class="col-sm-8"><img ng-src="{{ads.image_src}}" style="width:200px;"/>
									</div>
								</div>
								<div ng-class="{ 'has-error' : adsFieldForm.url.$invalid &amp;&amp; !adsFieldForm.url.$pristine , 'has-success': adsFieldForm.url.$valid}" class="form-group">
									<label class="col-sm-4 control-label">URL:<span class="text-danger"> *</span></label>
									<div class="col-sm-7">
										<input type="url" name="url" required="required" ng-model="ads.url" class="form-control"/><small class="help-block">Ejemplo URL: http://www.google.com.pe</small>
									</div>
								</div>
						</div>
					</div>
				</div>
			</form>

			<h4 ng-show="advertisments.length===0" style="text-align:center;padding:20px 0;">No tienes ninguna oferta agregada.</h4>
		</div>
		<hr/>
		<div class="row">
			<div class="col-md-12 text-right">
				<div class="form-group">
					<button  ng-if="template.id!=3" type="button" ng-click="saveAds(advertisments)" ng-disabled="(advertisments.length<= template.ads.total && advertisments.length%2!==0 ) || advertisments.length===0  " class="btn btn-primary btn-lg">Registrar</button>
					<button  ng-if="template.id===3" type="button" ng-click="saveAds(advertisments)" ng-disabled=" AdsForm.$invalid" class="btn btn-primary btn-lg">Registrar</button>
					<button type="button" ng-click="back()" class="btn btn-default btn-lg">Regresar</button>
				</div>
			</div>
		</div>
	</div>
</div>