<form   role="form" novalidate="novalidate" name="AdsForm">
	<div  class="panel panel-default">
		<div class="panel-body">
			<div class="form-horizontal">
					<div  class="form-group" ng-class="{ 'has-error' : AdsForm.titulo.$invalid &amp;&amp; !AdsForm.titulo.$pristine , 'has-success': AdsForm.titulo.$valid}">
						<label class="col-sm-4 control-label">Titulo:*</label>
						<div class="col-sm-8" >
							<input type="url" name="url" required="required" ng-model="ads.titulo" class="form-control"/>
						</div>
					</div>
					<div  class="form-group" ng-class="{ 'has-error' : AdsForm.tag.$invalid &amp;&amp; !AdsForm.tag.$pristine , 'has-success': AdsForm.tag.$valid}">
						<label class="col-sm-4 control-label">Etiqueta:*</label>
						<div class="col-sm-8">
							<input type="url" name="url" required="required" ng-model="ads.tag" class="form-control"/>
						</div>
					</div>
					<div  class="form-group" ng-class="{ 'has-error' : AdsForm.disctrict.$invalid &amp;&amp; !AdsForm.disctrict.$pristine , 'has-success': AdsForm.disctrict.$valid}">
						<label class="col-sm-4 control-label">Distrito:*</label>
						<div class="col-sm-8">
							<input type="url" name="url" required="required" ng-model="ads.disctrict" class="form-control"/>
						</div>
					</div>
					<div  class="form-group" ng-class="{ 'has-error' : AdsForm.property_detail.$invalid &amp;&amp; !AdsForm.property_detail.$pristine , 'has-success': AdsForm.property_detail.$valid}">
						<label class="col-sm-4 control-label">Detalle de propiedad:*</label>
						<div class="col-sm-8">
							<input type="url" name="url" required="required" ng-model="ads.property_detail" class="form-control"/>
						</div>
					</div>
					<div  class="form-group">
						<label class="col-sm-4 control-label">Imagen  seleccionada:</label>
						<div class="col-sm-8"><img ng-src="{{ads.image_src}}" style="width:200px;"/>
						</div>
					</div>
					<div ng-class="{ 'has-error' : AdsForm.url.$invalid &amp;&amp; !AdsForm.url.$pristine , 'has-success': AdsForm.url.$valid}" class="form-group">
						<label class="col-sm-4 control-label">URL:<span class="text-danger"> *</span></label>
						<div class="col-sm-7">
							<input type="url" name="url" required="required" ng-model="ads.url" class="form-control"/><small class="help-block">Ejemplo URL: http://www.google.com.pe</small>
						</div>
					</div>
			</div>
		</div>
	</div>
</form>