
<table class="table">
  <thead>
    <tr>
      <th><a href="">Fecha<span aria-hidden="true" class="caret"></span></a></th>
      <th><a href="">Nombre<span aria-hidden="true" class="caret"></span></a></th>
      <th><a href="">Preview<span aria-hidden="true" class="caret"></span></a></th>
      <th><a href="">Opciones<span aria-hidden="true" class="caret"></span></a></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="mail in mailings">
      <td scope="row">{{ mail.date_created | limitTo:10}}</td>
      <td> {{ mail.name }}</td>
      <td><img ng-src="/static/assets/plantilla{{mail.template_id }}.png?v=1" alt="" width="70"/></td>
      <td><a href="/#/editar/{{mail.id}}" class="col-md-3">Editar</a><a href="" ng-click="getDownload(mail.id)" id="lnkDownload{{mail.id}}" class="col-md-3">Procesar Descarga</a></td>
    </tr>
  </tbody>
</table>