<!DOCTYPE html>
<html lang="es" ng-app="dashboard" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="language" content="es">
    <title>Ofertop mailing</title>
    <meta name="title" content="Ofertop mailing">
    <meta name="description" content="Ofertop mailing">
    <meta name="author" content="Orbis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="Ofertop mailing">
    <meta property="og:description" content="Ofertop mailing">
    <meta property="og:image" content="/static/img/logo.png">
    <meta property="og:image:height" content="60">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="60">
    <meta property="og:site_name" content="Ofertop mailing">
    <meta property="og:title" content="Ofertop mailing">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <link href="/static/libs/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/css/layout.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/css/fonts.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/img/logo.jpg" rel="icon" type="image/vnd.microsoft.icon">
    <link href="/static/img/logo.jpg" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/static/img/logo.jpg" rel="shortcut icon" type="image/x-icon">
    <link href="/static/img/logo.png" rel="image_src" type="image/jpeg">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="page-header">
          <h1 class="text-center">Sistema Automatizado de Mailings</h1>
        </div>
      </div>
    </header>
    <!-- end header-->
    <div ng-controller="RecoveryController" class="container text-center">
      <div class="col-md-6 col-md-offset-3">
        <div role="alert" class="alert alert-danger">Sistema no disponible, vuelva a intentarlo más tarde.</div>
        <div role="alert" class="alert alert-success">Tu nueva clave se envio al correo xxxxx@ofertop.pe</div>
        <div class="form">
          <form role="form" name="recovery" novalidate ng-submit="submitRecovery()" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-12">Ingresa tu email para obtener tu nueva clave:</label>
            </div>
            <div ng-class="{ 'has-error': recovery.email.$invalid  &amp;&amp; !recovery.email.$pristine , 'has-success' : recovery.email.$valid } " class="form-group">
              <label class="col-sm-3 control-label">Usuario:</label>
              <div class="col-sm-9">
                <input type="email" name="email" ng-model="user.email" required class="form-control">
                <p ng-show="recovery.email.$invalid &amp;&amp; !recovery.email.$pristine" class="help-block text-left">Ingresa un email válido</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" ng-disabled="recovery.$invalid" class="btn btn-primary">Recuperar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end footer-->
    <script src="static/js/vendor.bundle.js" type="text/javascript"></script>
    <script src="static/js/app.bundle.js" type="text/javascript"></script>
  </body>
</html>