
<form role="form" novalidate="novalidate" name="registerForm" class="form-horizontal">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Plantilla</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-2">
        <div class="radio">
          <label>
            <input type="radio" name="rdTemplate" ng-model="mailing.template" value="1" ng-required="!mailing.template" ng-click="getTemplate(1)"/>Plantilla 1 (content)<img src="../assets/images/plantilla1.png?v=1" height="140" class="bordered media-object"/>
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="radio">
          <label>
            <input type="radio" name="rdTemplate" ng-model="mailing.template" value="2" ng-required="!mailing.template" ng-click="getTemplate(2)"/>Plantilla 2 (persona)<img src="../assets/images/plantilla2.png?v=1" height="140" class="bordered media-object"/>
          </label>
        </div>
      </div>
      <div class="col-md-2">
        <div class="radio">
          <label>
            <input type="radio" name="rdTemplate" ng-model="mailing.template" value="3" ng-required="!mailing.template" ng-click="getTemplate(3)"/>Plantilla 3 (Facebook)<img src="../assets/images/plantilla3.png?v=1" height="140" class="bordered media-object"/>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Datos</h3>
    </div>
    <div class="panel-body">
      <div ng-class="{ 'has-error' : registerForm.name.$invalid &amp;&amp; !registerForm.name.$pristine , 'has-success': registerForm.name.$valid}" class="form-group">
        <label class="col-sm-3 control-label">Nombre:<span class="text-danger"> *</span></label>
        <div class="col-sm-4">
          <input type="text" required="required" maxlength="50" name="name" ng-model="mailing.name" class="form-control"/><small ng-show="registerForm.name.$invalid &amp;&amp; !registerForm.name.$pristine" class="help-block">Ingrese nombre.</small>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Fecha:</label>
        <div class="col-sm-4">
          <input type="text" disabled="disabled" ng-model="mailing.datecreated" class="form-control"/>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">UTMs</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div ng-class="{ 'has-error' : registerForm.utm_source.$invalid &amp;&amp; !registerForm.utm_source.$pristine , 'has-success': registerForm.utm_source.$valid}" class="form-group">
          <label class="col-sm-5 control-label">utm_source:<span class="text-danger"> *</span></label>
          <div class="col-sm-7">
            <input type="text" name="utm_source" required="required" ng-pattern="/^[0-9a-z_-]+$/" ng-model="mailing.utm_source" class="form-control"/><small ng-show="registerForm.utm_source.$invalid &amp;&amp; !registerForm.utm_source.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
          </div>
        </div>
        <div ng-class="{ 'has-error' : registerForm.utm_medium.$invalid &amp;&amp; !registerForm.utm_medium.$pristine , 'has-success': registerForm.utm_medium.$valid}" class="form-group">
          <label class="col-sm-5 control-label">utm_medium:<span class="text-danger"> *</span></label>
          <div class="col-sm-7">
            <input type="text" name="utm_medium" required="required" ng-pattern="/^[0-9a-z_-]+$/" ng-model="mailing.utm_medium" class="form-control"/><small ng-show="registerForm.utm_medium.$invalid &amp;&amp; !registerForm.utm_medium.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-class="{ 'has-error' : registerForm.utm_campaign.$invalid &amp;&amp; !registerForm.utm_campaign.$pristine , 'has-success': registerForm.utm_campaign.$valid}" class="form-group">
          <label class="col-sm-5 control-label">utm_campaign:<span class="text-danger"> *</span></label>
          <div class="col-sm-7">
            <input type="text" name="utm_campaign" required="required" ng-pattern="/^[0-9a-z_-]+$/" ng-model="mailing.utm_campaign" class="form-control"/><small ng-show="registerForm.utm_campaign.$invalid &amp;&amp; !registerForm.utm_campaign.$pristine" class="help-block">No se permite ingreso de acentos, mayúsculas, eñes o cedillas, espacios o paréntesis.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-model="idTemplate" ng-show="idTemplate === 1 || idTemplate === 2 " class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Link</h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-5 control-label">Ver todas nuestras ofertas:</label>
          <div class="col-sm-7">
            <input type="text" ng-model="mailing.link" class="form-control"/><small class="help-block">Ejemplo URL: http://www.google.com.pe</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12 text-right">
      <div class="form-group">
        <button type="submit" ng-disabled="registerForm.$invalid" ng-click="sendMailing(mailing)" class="btn btn-primary btn-lg">Registrar</button>
      </div>
    </div>
  </div>
</form>