header.c-navbar
	.l-container
		.c-navbar__logo
			a(ui-sref='home')
				img(src=require('../../assets/images/logo.png'))
		ul.c-navbar__list
			li.c-navbar__item
				a.c-navbar__link(ui-sref='about') About
			li.c-navbar__item
				a.c-navbar__link(ui-sref='contact') Contact
