@import '../common';

.c-navbar {
	background-color: white;
	padding: 1rem;
	.l-container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list, &__logo {
		display: inline-block;
	}

	&__logo{
		color: $lightTextColor;
		margin-right: 50%;
	}

	&__item {
		background-color:white;
		margin-right: 5px;
	}

	&__link{
		color:black;
		font-size: 1.2rem;
	}

}

@media screen and (max-width:768px){
.c-navbar {
	&__logo{
		color: $lightTextColor;
		margin-right: 0%;
		flex-grow:1;
		text-align:left;
	}
}
}