
.c-search{
	margin-top: 50px;
	&__filters{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__search{
		position: relative;
		width: 20%;
		max-width: 200px;
		.icon-search{
			position: absolute;
			top: 10px;
			left: 10px;
			bottom: 0;
			margin: auto;
		}
	}
	&__input{
		position: relative;
		width: 100%;
		padding: 10px 30px;
		display: inline-block;
		border-radius: 5px;
		border: 1px solid gray;
	}
	&__filter{
	}
	&__label{

	}
	&__select{
		background: white;
		border: none;
		font-size: 12px;
	}
	&__option{

	}

	//results
	&__results{
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	&__video{
		display: inline-block;
		margin-bottom: 10px;
		position:relative;
		width: 30%;
		height: 20vh;
		.icon-playback-play{
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%);
			/* font-size: 40px;
			color: white; */
		}
	}
	&__img{
		width: 100%;
		height: 100%;
		border: 1px solid #dcd2d2;
	}
}
