section.c-search
	.l-container
		.c-search__filters
			.c-search__search
				input.c-search__input(type='text', ng-change='getVideos()', ng-model='userSearch', placeholder='Search')
				.icon-search
			.c-search__filter
				label.c-search__label Filter by
				select.c-search__select
					option.c-search__option(value='volvo') Animation
					option.c-search__option(value='volvo') Animation
					option.c-search__option(value='volvo') Animation
					option.c-search__option(value='volvo') Animation
		.c-search__results
			a.c-search__video(href='#', ng-repeat='video in videos ')
				img.c-search__img(ng-src='{{ video.snippet.thumbnails.high.url }}')
				span.icon-playback-play  {{ video.snippet.title }} 
			a(href='', ng-repeat='photo in photos')
				img(bn-lazy-src='{{ photo.src }}', width='150', height='150', alt='Test')
