/**
 * @atom Botón
 * @section Navigation > Botones
 * @description
 *  Botones del sitio.
 * @markup
 *   <button class="e-button">Un botón</button>
 *   <a class="e-button">
 *     Un botón tipo link
 *   </a>
 *	<input type="submit" class="e-button" value="Un valor del botón" />
 */

.e-button {
	background: $secondary_color;
	border: none;
	border-radius: $border_radius;
	color: white;
	outline: none;
	font-family: $family1;
	transition: $transition;
	cursor: pointer;
	font-size: 1rem;
	height: $input_height;
	display: inline-block;
	vertical-align: middle;
	line-height: $input_height;
	padding: 0 50px;
	text-decoration: none;
	-webkit-appearance: none;
	&:hover {
		transition: $transition;
		background-color: darken($secondary_color, 15%);
	}
	& + .e-button {
		margin-left: 10px;
	}
	&--secondary{
		background-color: $brand_color !important;
	}
	&--cancel {
		background-color: #ccc !important;
	}
	&--small {
		padding: 0 20px;
		line-height: 35px;
		height: 35px;
		font-size: 0.9rem;
	}
}
