@font-face {
	font-family: 'icomoon';
	src:  url('../../assets/fonts/icomoon.eot');
	src:  url('../../assets/fonts/icomoon.eot?y1j31s#iefix') format('embedded-opentype'),
	url('../../assets/fonts/icomoon.ttf?y1j31s') format('truetype'),
	url('../../assets/fonts/icomoon.woff?y1j31s') format('woff'),
	url('../../assets/fonts/icomoon.svg?y1j31s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}