@import	"variables";

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: $base_font;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: $family1;
	color: $font_color;
	margin: 0;
	background-color: lighten($light_gray,5);
	background-image: url("../img/pattern.svg");
	background-size: 800px;
	width:100%;
	text-align:center;
}
a {
	display:inline-block;
	text-decoration:none;
}

b, strong, h1, h2, h3, h4, h5, h6 {
	font-family: $family1_bold;
	font-weight: normal;
}

li {
	list-style:none;
	display:inline-block;
}

.l-container{
    max-width: 1140px;
    margin: 0 auto;
}
