@import	'variables';

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playback-play:before {
  content: "\f0bf";
}
.icon-triangle-down:before {
  content: "\f05b";
}
.icon-triangle-left:before {
  content: "\f044";
}
.icon-triangle-right:before {
  content: "\f05a";
}
.icon-triangle-up:before {
  content: "\f0aa";
}
.icon-home:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e986";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}

/* preventing reflow lazy image setup */
.js .afkl-lazy-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
}
/* auto size our image */
.afkl-lazy-wrapper .afkl-lazy-image {
  width: 100%;
}

/* default loading state */
.afkl-lazy-image-loading {
  background-color: #eee;
}


/* available ratio's, make your own if they are different on different devices or simply extend */
.afkl-img-ratio-4-2,
.afkl-img-ratio-2-1 {
  padding-bottom: 50%; /* (2/4)*100 */
}
.afkl-img-ratio-16-9 {
  padding-bottom: 56.25%; /* (9/16)*100 */
}
.afkl-img-ratio-3-2 {
  padding-bottom: 66.67%; /* now calculation is clear, right :) */;
}
.afkl-img-ratio-1-1 {
  padding-bottom: 100%;
}
.afkl-img-ratio-4-3 {
  padding-bottom: 75%;
}
.afkl-img-ratio-3-4 {
  padding-bottom: 133%;
}