/**
 * Variable de breakpoints para slicer breakpoint.
 * Docs: https://github.com/lolmaus/breakpoint-slicer
 *
 * @nuclide slicer-breakpoints
 * @section variables
 */
$slicer-breakpoints: 0  500px  700px  800px  1050px;

/**
 * Variable personalizada de tamaños para slicer breakpoint que corresponden a los breakpoints de $slicer-breakpoints.
 * Docs: https://github.com/lolmaus/breakpoint-slicer
 *
 * @nuclide slicer-breakpoint-names
 * @section variables
 */
$slicer-breakpoint-names:  'xs' 's' 'm' 'l' 'xl';

/** @color Color principal */
$brand_color : #0076E3;

/** @color Color principal oscuro */
//$dark_brand_color: darken($brand_color, 30);

/** @color Color secundario */
$secondary_color : #FF3922;
$primaryColor:   #0277bd;
$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;

/** @color Color complementario */
$accent_color : #FFCB11;

/** @color Color de la fuente */
$font_color : #525252;

/** @color Color gris */
$skyblue: #2D72E2;
$light_gray : #EAEAEA;
$text_color : #00263E;
$facebook_color: #4260B4;
$twitter_color: #009DF6;
/**
 * Ancho del contenedor del sitio
 *
 * @nuclide container_width
 * @section variables
 */
$container_width : 1140px;

$border_radius : 5px;
$transition: 0.3s all ease-in;
$input_height: 2.5rem;

$family1:  'bloggersans', 'arial', 'sans-serif';
$family1_bold:  'bloggersansmedium', 'arial', 'sans-serif';
$family1_italic:  'bloggersansitalic', 'arial', 'sans-serif';

/**
 * El tamaño de fuente base para <html>
 *
 * @nuclide base_font
 * @section variables
 */
$base_font: 18px;
